<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <meta charset="utf-8" />
    <title>@ViewData["Title"]</title>
    <link href="~/lib/bootstrap/css/bootstrap.min.css" rel="stylesheet" />
    <link href="~/css/main.css" rel="stylesheet" />
    <link rel="icon" href="~/img/bean-removebg-preview.png" />
</head>

<body>

    <nav>
        <a asp-controller="a" asp-action="Index">Home</a>
        <a asp-controller="a" asp-action="Calculator">Calculator</a>
    </nav>

    <div>
        @RenderBody()
    </div>

    @*<footer>This is my footer.</footer>*@

    <script src="~/lib/bootstrap/js/bootstrap.min.js"></script>
    <script src="~/lib/jquery/jquery-3.6.0.min.js"></script>
    <script src="~/js/calculator.js"></script>

</body>

</html>
