@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    ViewData["Title"] = "Ransom Allphin";
}

<h1>Ransom Allphin</h1>
<img src="img/Boys-Track-Allphin.jpg" width="200" />

<p>There are a couple things that I would love to get out of this class. I would like to learn about the asp.net framework and it's features. I also want to know the basics of C# so that I am familiar with it if I need it later on in life. And the last thing is to 'sharp'en my skills in programming overall.</p>

<p>Top three jobs after graduating:</p>
<ul>
    <li>Data Analyst</li>
    <li>Something in Consulting</li>
    <li>Application Development</li>
</ul>
